{% extends 'base.html.twig' %}

{% block body %}
    <h1>Viewconfiguration creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
                      <a href="{{ path('list',{'application_path': driver.applicationPath, 'entities_path': driver.entitiesPath }) }}">list</a>
        </li>
    </ul>
{% endblock %}
