{% extends is_sub_request or is_xml_http_request ?  'blank.html.twig':'base.html.twig'  %}
{% form_theme form 'Form\\bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('filter',{'applicationPath': driver.applicationPath, 'entitiesPath': driver.entitiesPath }) }}">List</a>
        </li>
    </ul>
{% endblock %}
